*{

    margin: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
/*menu lateral*/
.sidenav{
    height: 100vh;
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #007fff;
}

.sidenav-foto{
    width: 220px;
    height: 220px;
    border: 5px solid #0192e6;
    border-radius: 150px;
    margin: 220px 65px 20px 65px;
}

.sidenav a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: x-large;
    text-align: justify;
    position: fixed;
    left: 115px;
    margin-top: 20px;
   
}

.sidenav a:hover{
    color: white;
    font-size: 27px;
}

/*conteúdo central*/

.main-content{
    margin-top: 5%;
    position: fixed;
    left: 380px;
    
    
    
    
}


h1{
    color: #343a40;
    font-size: 36px;

    margin-left: 20px;
}

h3{
    color: #6c757d;
    font-size: 26px;
    
    margin-left: 20px;
}

p{
    color: #343a40;
    font-size: 30px;
    margin-left: 20px;
    
    
    
}

.social {
    height:100%;
    position: fixed;
    top:80%;

}

.icon{
    color: #007fff;
    margin-left: 20px;
    height: 40px;
    width: 40px;
   
    font-size: xx-large;
}

/* 2 pagina*/

.list1{

    position: fixed;
    top:35% ;
    left: 420px;
}
.list2{

    position: fixed;
    top:40% ;
    left: 420px;
}


.list3{

    position: fixed;
    top:45% ;
    left: 420px;
}


.iconknow{
    color: #007fff;
   
    
    font-size: 45px;
    

}

/*Página 3*/

.main-content3{
    margin-top: 12%;
    position: fixed;
    left: 380px;


}





